fastapi==0.87.0
SQLAlchemy==1.4.44
pydantic==1.10.2
python-dotenv==0.21.0
fastapi-sessions
python-multipart
Jinja2==3.1.2
uvicorn==0.20.0
starlette==0.22.0
mammoth~=1.5.0
Pillow==9.3.0
pytest==7.2.0
PyMySQL
pdf2image~=1.16.0
pandas~=1.5.0
openpyxl
odfpy
xlrd
matplotlib==3.6.2
cryptography
PyJWT~=2.6.0
passlib~=1.7.4
html~=1.13
morfeusz2~=1.99.6
tqdm~=4.64.1
fuzzysearch~=0.7.3
jose~=1.0.0
fastapi_permissions