fastapi
SQLAlchemy
pydantic
python-dotenv
fastapi-sessions
python-multipart
Jinja2
uvicorn
starlette
mammoth
Pillow
pytest
PyMySQL
pdf2image
pandas
openpyxl
odfpy
xlrd
matplotlib
cryptography
PyJWT
passlib
html
tqdm
fuzzysearch
fastapi_permissions
deepdiff
python-jose
bcrypt